html {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* main CSS */

body {
    /* background-color: #ffffff; */
}

.wrapper {
   margin-inline: auto;
   width: min(90%, 60rem);
   margin-top: 150px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center; 
}

/* Game choice menu */

.text-container {
    text-align: center;
    display: none;
}

.text-container h1 {
    color: #1A374D;
    font-size: 100px;
}

.text-container p {
    font-size: 40px;
    color: #406882;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons button {
    margin-top: 30px;
    height: 50px;
    width: 200px;
    background-color: white;
    border: 3px solid #6998AB;
    font-size: 25px;
    cursor: pointer;
    color: #6998AB;
}

.buttons button:hover {
    background-color: #6998AB;
    color: white;
}

/* Player Selection */

.player-container {
    display: flex;
}

.player-entry {
    display: flex;
    flex-direction: column;
}

.player-entry h1 {
    color: #1A374D;
    font-size: 50px;
    margin: 10px 0;
}

.player-entry input {
    border: 3px solid #6998ab8e;
    padding: 10px;
}

.player-entry button {
    background-color: white;
    border: 3px solid #6998ab8e;
    font-size: 25px;
    cursor: pointer;
    color: #6998ab8e;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.player-entry button:hover {
    background-color: #6998AB;
    color: white;
}

.player1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Game */

.game {
    display: none;
}

.board {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    background-color: #1a374d3e;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    background-color: white;
}

.play-again {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}

.play-again button {
    background-color: white;
    border: 3px solid #6998ab8e;
    font-size: 25px;
    cursor: pointer;
    color: #6998ab8e;
}

.play-again button:hover {
    background-color: #6998AB;
    color: white;
}

#play-again {
    display: none;
    height: 50px;
    width: 200px;
}

#back {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 50px;

}

.draw-x {
    font-size: 100px;
    color: #6998AB;
    display: none;
}

.draw-o {
    display: none;
    font-size: 100px;
    color: #406882;
    display: none;
}